*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Assets/baby-wolf.jpg");
}

h1{
    font-size: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

h3{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
}


p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: x-large ;
}





#menu ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 50px 116px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: rgb(19, 112, 174);
}

.title {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 150px;
    grid-gap: 10px;
    grid-auto-rows: 150px;
    grid-template-areas:
        "a a a a b b b b"
        "a a a a b b b b"
        "c c c c d d d d"
        "c c c c d d d d";
    align-items: start;
    justify-items: center;
}


#CAAP{
    grid-area: a;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 80px;
    outline: none;
    background: #ffdd00;
    border: 0;
    justify-content: space-evenly;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    
}
#CAAP a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#CAAP:hover{
    background-color: rgb(228, 168, 89);
    box-shadow: -5px 25px 0px #ffdd00b0;
    transition-duration: 400ms;
}


#CAAP2{
    grid-area: b;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 80px;
    outline: none;
    background: #ffdd00;
    border: 0;
    justify-content: space-evenly;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    
}
#CAAP2 a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#CAAP2:hover{
        background-color: rgb(228, 168, 89);
    box-shadow: -5px 25px 0px #ffdd00b0;
    transition-duration: 400ms;
}

#CAVIP{
    grid-area: c;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 80px;
    outline: none;
    background: #ffdd00;
    border: 0;
    justify-content: space-evenly;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    
}
#CAVIP a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#CAVIP:hover{
    background-color: rgb(228, 168, 89);
    box-shadow: -5px 25px 0px #ffdd00b0;
    transition-duration: 400ms;
}


#CAVIP2{
    grid-area: d;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 80px;
    outline: none;
    background: #ffdd00;
    border: 0;
    justify-content: space-evenly;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    
}
#CAVIP2 a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#CAVIP2:hover{
    background-color: rgb(228, 168, 89);
    box-shadow: -5px 25px 0px #ffdd00b0;
    transition-duration: 400ms;
}